body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message{
      background: #7286D3;
      box-sizing: border-box;
      color: #fff;
      margin: 20px auto;
      padding: 20px;
      width: 380px;
}
